<ion-modal-view>
 <div class="bar bar-header bar-balanced">
    <h1 class="title">Búsqueda avanzada de empresas</h1>
 </div>
    <ion-content class="padding" ng-model="content">
        <div class="title">
                
        </div>
         <div class="card">
         <div style="margin-top: 20px;" class="card">
                <form ng-submit="search(datos)">
                  <div class="l item item-text-wrap">                    
                    <label class="item item-input item-select">
                        <div class="input-label">
                            ¿Qué sector buscas?
                        </div>
                        <select name="sectores_id" ng-model="datos.sectores" ng-change="changeEspecialidad(datos.sectores)">
                            <option value="{{s.id}}" ng-repeat="s in sectores">{{s.nombre_sector}}</option>                        
                        </select>
                    </label>
                    <label class="item item-input item-select" ng-show="datos.sectores!==undefined">
                        <div class="input-label">
                            ¿Qué especialidad buscas?
                        </div>
                        <select ng-model="datos.especialidades" multiple="multiple">
                            <option value="{{s.id}}" ng-repeat="s in especialidades">{{s.nombre_especialidad}}</option>                        
                        </select>
                    </label>
                    <label class="item item-input">
                        <input type="tel" name="zip" ng-model="datos.zip" placeholder="CP">
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search"  ng-model="datos.nombre" placeholder="Palabras Claves">
                    </label>
                    <button type="submit" class="button button-balanced button-full">Buscar</button>
                    <!--<button type="button" ng-click="closeModal('hide')" class="button button-balanced button-full">Cancelar</button>-->
                  </div>
                  </form>
         </div>
        </ion-content>
</ion-modal-view>

