<ion-modal-view>
 <div class="bar bar-header bar-balanced">
    <h1 class="title">Datos del cliente</h1>
 </div>
    <ion-content class="padding" ng-model="content">
        <div class="title">
                
        </div>
         <ul class="list" style="margin-top:40px;">
            <li class="item">
              Propietario: {{datosCliente.nombre}}
            </li>
            <li class="item">
                Email: <a href="mailto:{{datosCliente.email}}">{{datosCliente.email}}</a>
            </li>
            <li class="item">
              Teléfono: {{datosCliente.telefono}}
            </li>
            <li class="item">
              <a href="tel:{{datosCliente.telefono}}" class="button button-full button-balanced"><i class="icon ion-ios-telephone"></i></a>
            </li>
            <li class="item">
                <button ng-click="closeModal()" class="button button-full button-balanced">Cerrar Ventana</button>
            </li>
        </ul>
        </ion-content>
</ion-modal-view>

