<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="ng-binding" ng-bind-html="condiciones" style="color: white; padding-top: 28.1px;padding-left: 15.9px; padding-right: 10.1px; font-family: Open Sans; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 24.7px; font-size:19.8px; font-style:normal;  font-weight:400; line-height:24.7px;"><p><span>En cumplimiento de lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal le informamos que sus datos personales quedarán incorporados y serán tratados en los ficheros de PRONEX, con el fin de poderle prestar y ofrecer nuestros servicios, así como para informarle sobre novedades y nuevos proyectos en los que se encuentre trabajando la empresa. Le informamos de la posibilidad de que ejerza los derechos de acceso, rectificación, cancelación y oposición de sus datos de carácter personal en:&nbsp;<a href="mailto:info@pronexapp.com">info@pronexapp.com</a></span></p></div>
        <div>
            <button class="button button-balanced button-full" ng-click="closeModal()" >Cerrar Ventana</button>
        </div>
    </ion-content>
</ion-view>
