<ion-view view-title="Cuenta">
  <ion-content>
      <button class="button button-positive button-full" ng-click="actualizarDatos()"><i class="ion-person"></i> Mis datos</button>
      <button class="button button-positive button-full" ng-click="Misempresas()"><i class="ion-ios-briefcase"></i> Mis empresas</button>
      <button class="button button-positive button-full" ng-click="desconectar()"><i class="ion-android-exit"></i> Desconectar</button>
  </ion-content>
</ion-view>
