<ion-view view-title="{{empresa.nombre.substr(0,20)}}">
  <ion-content class="padding">
      <form ng-submit="rankear(datos)">
            <div class="item item-divider" align="center">
                Calidad
            </div>
            <div class="item range">
                <i class="icon ion-thumbsup" style="color:black"><span style="font-size:12px">0</span></i>
                <input type="range" name="calidad" min="0" max="5" ng-model="datos.calidad">
                <i class="icon ion-thumbsup" style="color:white"><span style="font-size:12px">5</span></i>
            </div>

            <div class="item item-divider" align="center">
                Limpieza
            </div>

            <div class="item range">
                <i class="icon ion-wand" style="color:black"><span style="font-size:12px">0</span></i>
                <input type="range" name="volume" min="0" max="5" ng-model="datos.limpieza">
                <i class="icon ion-wand" style="color:white"><span style="font-size:12px">5</span></i>
            </div>

            <div class="item item-divider" align="center">
                Rapidez
            </div>

            <div class="item range">
                <i class="icon ion-speedometer" style="color:black"><span style="font-size:12px">0</span></i>
                <input type="range" name="volume" min="0" max="5" ng-model="datos.rapidez">
                <i class="icon ion-speedometer" style="color:white"><span style="font-size:12px">5</span></i>
            </div>

            <div class="item item-divider" align="center">
                Confianza
            </div>

            <div class="item range">
                <i class="icon ion-umbrella" style="color:black"><span style="font-size:12px">0</span></i>
                <input type="range" name="volume" min="0" max="5" ng-model="datos.confianza">
                <i class="icon ion-umbrella" style="color:white"><span style="font-size:12px">5</span></i>
            </div>

            <div class="item item-divider" align="center">
                Seriedad
            </div>

            <div class="item range">
                <i class="icon ion-happy-outline" style="color:black"><span style="font-size:12px">0</span></i>
                <input type="range" name="volume" min="0" max="5" ng-model="datos.seriedad">
                <i class="icon ion-happy-outline" style="color:white"><span style="font-size:12px">5</span></i>
            </div>    

            <button type="submit" class="button button-balanced button-full">Votar</button>
      </form>
  </ion-content>
</ion-view>
