<ion-view view-title="<img src='img/empresas-detail.png' style='max-height: 52px; max-width: 270px; width: 60%;'>">
  <ion-content class="padding">        
      <app-map markers="basel" center="basel" zoom="18" widthmap="100%" heightmap="400px"></app-map>
      <button class="button button-balanced button-block" ng-click="comollegar()"><i class="icon ion-map"></i> Como llegar</button>
  </ion-content>
</ion-view>
