<ion-view view-title="<img src='img/empresas-detail.png' style='max-height: 52px; max-width: 270px; width: 60%;'>">
  <ion-content class="padding">        
    <div style="color:white;" class="row">        
            <div style="margin:0px; vertical-align: bottom; display: inline-block; text-align: center; width: 70px;" ng-if="empresa.foto1!=='http://www.pronexapp.com/newapp/images/fotos_empresas'">
                <img ng-src="{{empresa.foto1}}" style="width: 60px; height: 60px; padding: 3px; border-radius:100%; background:transparent; vertical-align: middle;">
                <div class="distancialabel">a {{empresa.distance}}km</div>
            </div>
            <div align="left" style="font-size:20px; color:white; margin-bottom:-13px; display: inline-block; margin-bottom: 8px; padding-top:10px;">{{empresa.nombre}} <br/><div style="font-size:14px; color:#4f88ac; margin-top:6px;">{{empresa.s986e880e}}</div></div>                    
    </div>
    <div style="margin-top:10px;margin-bottom: 15px;">
          <ion-slide-box show-pager="true" style="text-align:center">            
            <ion-slide ng-show="empresa.foto2!=='null'">
                    <div class="imageList" style="background:url({{empresa.foto2}}) no-repeat; background-size:cover; width:250px; height:250px; background-position:center; border: 4px solid #FC4D09;"></div>                    
            </ion-slide>
            <ion-slide ng-show="empresa.foto3!=='null'">
                    <div class="imageList" style="background:url({{empresa.foto3}}) no-repeat; background-size:cover; width:250px; height:250px; background-position:center; border: 4px solid #FC4D09;"></div>                    
            </ion-slide>
            <ion-slide ng-show="empresa.foto4!=='null'">
                    <div class="imageList" style="background:url({{empresa.foto4}}) no-repeat; background-size:cover; width:250px; height:250px; background-position:center; border: 4px solid #FC4D09;"></div>                    
            </ion-slide>
         </ion-slide-box>        
    </div>
    <div align="center" style="color:white; font-size:18px; border-bottom:1px solid white; padding:1.9px; margin:0 30px">
        <a href="#/tab/detalleEmpresaMore/{{empresa.id}}" align="center"><div class="distancialabel" style="font-size:16px; width:80px;padding: 10px;">INFO</div></a>
    </div>
    <div align="center" style="color:white; font-size:16px; padding:10px 0;">
        <div>VALORACIÓN</div>
        <div style="font-size:12px;">
            <ul class="ranking" style="margin:10px -11px;">
                <li style="margin:5px;">{{empresa.calidad}} <br/><i style="font-size:30px;" class="icon ion-thumbsup"></i><br/> CALIDAD</li>
                <li style="margin:5px;">{{empresa.limpieza}} <br/> <i style="font-size:30px" class="icon  ion-wand"></i><br/> LIMPIEZA</li>
                <li style="margin:5px;">{{empresa.rapidez}} <br/> <i style="font-size:30px" class="icon ion-speedometer"></i><br/> RAPIDEZ</li>
                <li style="margin:5px;">{{empresa.confianza}} <br/> <i style="font-size:30px" class="icon  ion-umbrella "></i><br/> CONFIANZA</li>
                <li style="margin:5px;">{{empresa.seriedad}} <br/> <i style="font-size:30px" class="icon  ion-happy-outline"></i><br/> SERIEDAD</li>
            </ul>
        </div>
    </div>
    
    <div class="button-bar">
        <a ng-click="share()" class="button"><i style="font-size:30px;" class="icon ion-share"></i></a>
        <a href="tel:{{empresa.telefono}}" class="button"><i class="icon ion-ios-telephone"></i></a>
        <a href="#/tab/valorar/{{empresa.id}}" class="button"><i class="icon ion-thumbsup"></i></a>
    </div>
  </ion-content>
</ion-view>
