<ion-view view-title="<img src='img/empresas-detail.png' style='max-height: 52px; max-width: 270px; width: 60%;'>">
  <ion-content class="padding">        
    <div style="color:white;" class="row">        
            <div style="margin:0px; vertical-align: bottom; display: inline-block;" ng-if="empresa.foto1!=='http://www.pronexapp.com/newapp/images/fotos_empresas'">
                <img ng-src="{{empresa.foto1}}" style="width: 60px; height: 60px; padding: 3px; border-radius:100%; background:transparent; vertical-align: middle;">
            </div>
            <div align="left" style="font-size:20px; color:white; margin-bottom:-13px; display: inline-block; margin-bottom: 8px; padding-top:10px;">{{empresa.nombre}} <br/><div style="font-size:14px; color:#4f88ac; margin-top:6px;">{{empresa.s986e880e}}</div></div>                    
    </div>
    <div>
        <div class="distancialabel">a {{empresa.distance}}km</div>
    </div>
      <div style="color:white;">
          <h1 style="border-bottom:1px solid white; color:white; margin:20px 0; font-size:16px; padding-left: 5.7px;">DESCRIPCIÓN EMPRESA</h1>
          <div>{{empresa.descripcion}}</div>
          <h1 style="border-bottom:1px solid white; color:white; margin:20px 0; font-size:16px;" class="row">
              <div class="col col-75" style="text-align:left">
               DIRECCIÓN
              </div>
              <a href="#tab/mapa/{{empresa.id}}" class="col col-20 distancialabel">
                MAPA
              </a>
          </h1>
          <div>{{empresa.direccion}}</div>
          <div> {{empresa.zip}} {{empresa.ciudad}}</div>
         <div> <h1 style="border-bottom:1px solid white; color:white; margin:20px 0; font-size:16px;" class="row"> </div>
          <br/>
          <div>Nº Trabajadores: {{empresa.trabajadores}}</div>
          <div>Año de creación:  {{empresa.antiguedad}}</div>
          <br/>
          <div><u><a style="color:white" ng-click="openURL(empresa.website)">{{empresa.website}}</a></u></div>
          <br/>
          <div><u><a style="color:white" href="mailto:{{empresa.email}}">{{empresa.email}}</a></u></div>
          <br/><br/><div class="row">
              <div class="col col-25" ng-if="empresa.facebook!='http://' && empresa.facebook!='https://'"><img src="img/facebook.png" ng-click="openURL(empresa.facebook)"></div>
              <div class="col col-25" ng-if="empresa.twitter!='http://' && empresa.twitter!='https://'"><img src="img/twitter.png" ng-click="openURL(empresa.twitter)"></div>
              <div class="col col-25"><img src="img/whatsapp.png" ng-click="share()"></div>
              <div class="col col-25" ng-if="empresa.linkdedin!='http://' && empresa.linkdedin!='https://'"><img src="img/link.png" ng-click="openURL(empresa.linkdedin)"></div>
          </div>
      </div>
      <div style="font-size:40px; color:white;">
          <a href="tel:{{empresa.telefono}}" class="button button-full button-balanced"><i class="icon ion-ios-telephone"></i></a>
      </div>
  </ion-content>
</ion-view>
