<ion-view view-title="Tus busquedas">
  <ion-content>
        <div class="button-bar">            
            <a class="button btnsearch" ng-click="advancedSearch()">Buscar</a>
        </div>
         <div class="list">
                <a class="item item-avatar"  href="#/tab/detalleEmpresa/{{e.id}}" ng-repeat="e in empresas">
                  <img ng-src="{{e.foto1}}" style="width: 60px; height: 60px; border-radius:100%; background:transparent; vertical-align: top;" ng-if="e.foto1!=='http://www.pronexapp.com/newapp/images/fotos_empresas'">                  
                  <h2 style="color:white;">{{e.nombre}}  <br/><span style="font-size:10px; color:lightblue">{{e.s986e880e}} | {{e.nombre_especialidad}} | Calificación: {{e.calidad}}</span></h2>
                </a>
         </div>
         <div class="list" ng-show="empresas.length==0" style="text-align: center">
                <div style="color:white">“Opss! Lo sentimos, no hemos encontrado lo que busca”</div>
         </div>
  </ion-content>
</ion-view>
