<ion-view view-title="Gestor de Tierras">
  <ion-content class="gestor">
      <div style="margin-top: 10.6px; padding-bottom: 7.2px;  margin-bottom: -11.9px;" class="card">
        <div class="item item-text-wrap">
            <i class="icon ion-flag placeholder-icon"></i>Crear punto de acopio de tierras
        </div>
        <div style="padding-top: 1.4px;"  class="item item-text-wrap">
            <div class="list">
                <form class="ng-pristine ng-valid" ng-submit="registrar(datos)">
                        <label class="item item-input">
                            <i class="icon ion-android-calendar placeholder-icon"></i>
                            <input class="ng-pristine ng-untouched ng-valid" ng-model="datos.fecha" placeholder="Fecha Final dd-mm-yyyy" type="text" onfocus="(this.type='date')">
                        </label>
                         <label class="item item-input">
                             <i class="icon ion-ios-location placeholder-icon"></i>
                            <input class="ng-pristine ng-untouched ng-valid" ng-model="datos.direccion" placeholder="Direccion - Opcional" type="text">
                          </label>
                        <button type="submit" class="button button-balanced button-full" ng-disabled="datos.fecha==undefined">Crear</button>
                </form>
            </div>
        </div>
      </div>
     </br>
       <div style="margin-top: 10.6px; padding-bottom: 7.2px; margin-bottom: -11.9px;" class="card">
        <div class="item item-text-wrap">
            <i class="icon ion-search placeholder-icon"></i>Buscar punto de acopio de tierras
        </div>
        <div style="padding-top: 1.4px;"  class="item item-text-wrap">
            <div class="list">
                <form ng-submit="search(data)">
                        <label class="item item-input">
                            <i class="icon ion-android-calendar placeholder-icon"></i>
                            <input type="text" ng-model="data.fecha" placeholder="Fecha Inicio dd-mm-yyyy" onfocus="(this.type='date')">
                        </label>
                         <label class="item item-input">
                             <i  class="icon ion-ios-location placeholder-icon"></i>
                            <input type="text" ng-model="data.direccion" placeholder="Direccion - Opcional">
                          </label>
                        <button type="submit" class="button button-balanced button-full"  ng-disabled="data.fecha==undefined">Buscar</button>
                </form>
            </div>
        </div>
      </div>
  </ion-content>
</ion-view>

