<ion-view view-title="Gestor de tierras">
  <ion-content class="gestor">
      <app-map zoom="14" center="basel" markers="marks" markersclick="markersclick" location="location" direccion="direccion"></app-map>
  </ion-content>
</ion-view>
