<ion-view view-title="Dashboard">
  <ion-content class="padding">
      <div align="center" style="margin-top:40px">
            <img src="img/logo.png" style="width:80%">
      </div>
      <div style="margin-top:30px">
          <form ng-submit="login(data)">
          <div class="list">
                <label class="item item-input">
                  <i class="icon ion-person placeholder-icon"></i>
                  <input type="email" ng-model="data.email" placeholder="Email">
                </label>
                <label class="item item-input">
                  <i class="icon ion-key placeholder-icon"></i>
                  <input type="password" ng-model="data.password" placeholder="Contraseña">
                </label>
                   <button type="submit" class="button button-balanced button-full">Ingresar</button>
                   <a href="index.html#/tab/registrar/1" type="button" class="button button-balanced button-full">Registrarse</a>
                <div align="center" style="margin:20px 0;">
                   <a href="#/tab/recuperar"><i class="icon ion-locked"></i> Recuperar contraseña</a>
                </div>
          </div>
         </form>
      </div>
  </ion-content>
</ion-view>
