<ion-view view-title="<img src='img/empresas-detail.png' style='max-height: 52px; max-width: 270px; width: 60%;'>">
  <ion-content class="padding">      
      <ul class="list">
          <li class="l item">
              <div class="titleBoxHome">POR PROXIMIDAD</div>
              <div class="mainContent">
                        
                        <ion-slide-box show-pager="true">
                          <ion-slide>
                                  <div class="row">
                                      <a href="#/tab/detalleEmpresa/{{i.id}}" class="col col-25 ovalosMain" ng-repeat="i in aprox[0]">
                                          <div class="distancialabel">a {{i.distance}}km</div>
                                          <div class="imageList" style="background:url({{i.foto1}}); background-repeat: no-repeat; background-size:cover; background-color: #cb461d"></div>
                                          <div class="marquee" align="center" style="min-height: 2em; color:white;">
                                              <small style="color:white;">{{i.nombre}}</small>
                                              <small style="color:white;">{{i.nombre}}</small>
                                          </div>
                                          <div align="center">
                                              <small>{{i.nombre_sector}}</small>
                                          </div>
                                      </a>                  
                                  </div>
                          </ion-slide>
                          <ion-slide>
                                  <div class="row">
                                      <a href="#/tab/detalleEmpresa/{{i.id}}" class="col col-25 ovalosMain" ng-repeat="i in aprox[1]">
                                          <div class="distancialabel">a {{i.distance}}km</div>
                                          <div class="imageList" style="background:url({{i.foto1}}); background-size:cover; background-color: #cb461d"></div>
                                          <div class="marquee" align="center" style="min-height: 2em; color:white;">
                                              <small style="color:white;">{{i.nombre}}</small>
                                              <small style="color:white;">{{i.nombre}}</small>
                                          </div>
                                           <div align="center">
                                              <small>{{i.nombre_sector}}</small>
                                          </div>
                                      </a>                  
                                  </div>
                          </ion-slide>
                          <ion-slide>
                                  <div class="row">
                                      <a href="#/tab/detalleEmpresa/{{i.id}}" class="col col-25 ovalosMain" ng-repeat="i in aprox[2]">
                                          <div class="distancialabel">a {{i.distance}}km</div>
                                          <div class="imageList" style="background:url({{i.foto1}}); background-size:cover; background-color: #cb461d"></div>
                                          <div class="marquee" align="center" style="min-height: 2em; color:white;">
                                              <small style="color:white;">{{i.nombre}}</small>
                                              <small style="color:white;">{{i.nombre}}</small>
                                          </div>
                                           <div align="center">
                                              <small>{{i.nombre_sector}}</small>
                                          </div>
                                      </a>                  
                                  </div>
                          </ion-slide>              
                        </ion-slide-box>
                        
                </div>             
          </li>
      </ul>
      
      <ul class="list">
          <li class="l item" style="background:#335060">
              <div class="titleBoxHome">LAS MÁS VALORADAS</div>
                <div class="mainContent">
                    
                    <ion-slide-box show-pager="true">
                        <ion-slide>
                            <div class="row">
                                <a href="#/tab/detalleEmpresa/{{i.id}}" class="col col-25 ovalosMain" ng-repeat="i in rank[0]">
                                     <div class="distancialabel">{{i.ranking}}/50</div>
                                     <div class="imageList" style="background:url({{i.foto1}}); background-size:cover; background-color: #cb461d"></div>
                                     <div class="marquee" align="center" style="min-height: 2em; color:white;">
                                         <small style="color:white;">{{i.nombre}}</small>
                                         <small style="color:white;">{{i.nombre}}</small>
                                     </div>
                                     <div align="center">
                                        <small>{{i.nombre_sector}}</small>
                                    </div>
                                 </a>       
                             </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="row">
                                <a href="#/tab/detalleEmpresa/{{i.id}}" class="col col-25 ovalosMain" ng-repeat="i in rank[1]">
                                    <div class="distancialabel">{{i.ranking}}/50</div>
                                    <div class="imageList" style="background:url({{i.foto1}}); background-size:cover; background-color: #cb461d"></div>
                                    <div class="marquee" align="center" style="min-height: 2em; color:white;">
                                        <small style="color:white;">{{i.nombre}}</small>
                                        <small style="color:white;">{{i.nombre}}</small>
                                    </div>
                                    <div align="center">
                                        <small>{{i.nombre_sector}}</small>
                                    </div>
                                </a>                  
                            </div>
                        </ion-slide>
                         <ion-slide>
                            <div class="row">
                                <a href="#/tab/detalleEmpresa/{{i.id}}" class="col col-25 ovalosMain" ng-repeat="i in rank[2]">
                                    <div class="distancialabel">{{i.ranking}}/50</div>
                                    <div class="imageList" style="background:url({{i.foto1}}); background-size:cover; background-color: #cb461d"></div>
                                    <div class="marquee" align="center" style="min-height: 2em; color:white;">
                                        <small style="color:white;">{{i.nombre}}</small>
                                        <small style="color:white;">{{i.nombre}}</small>
                                    </div>
                                    <div align="center">
                                        <small>{{i.nombre_sector}}</small>
                                    </div>
                                </a>                  
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                    
                </div>
          </li>
      </ul>
      
      <ul class="list">
          <li class="l item">
              <div class="titleBoxHome">LAS MÁS CONTACTADAS</div>
              <div class="mainContent">
                    
                      <ion-slide-box show-pager="true">
                          <ion-slide>
                             <div class="row">
                               <a href="#/tab/detalleEmpresa/{{i.id}}" class="col col-25 ovalosMain" ng-repeat="i in contacts[0]">
                                    <div class="distancialabel">{{i.contacts}}</div>
                                    <div class="imageList" style="background:url({{i.foto1}}); background-size:cover; background-color: #cb461d"></div>
                                    <div class="marquee" align="center" style="min-height: 2em; color:white;">
                                        <small style="color:white;">{{i.nombre}}</small>
                                        <small style="color:white;">{{i.nombre}}</small>
                                    </div>
                                    <div align="center">
                                              <small>{{i.nombre_sector}}</small>
                                          </div>
                                </a>       
                            </div>
                          </ion-slide> 
                          <ion-slide>
                                  <div class="row">
                                      <a href="#/tab/detalleEmpresa/{{i.id}}" class="col col-25 ovalosMain" ng-repeat="i in contacts[1]">
                                          <div class="distancialabel">{{i.contacts}}</div>
                                          <div class="imageList" style="background:url({{i.foto1}}); background-size:cover; background-color: #cb461d"></div>
                                          <div class="marquee" align="center" style="min-height: 2em; color:white;">
                                                <small style="color:white;">{{i.nombre}}</small>
                                                <small style="color:white;">{{i.nombre}}</small>
                                          </div>
                                          <div align="center">
                                              <small>{{i.nombre_sector}}</small>
                                          </div>
                                      </a>                  
                                  </div>
                          </ion-slide>
                          <ion-slide>
                                  <div class="row">
                                      <a href="#/tab/detalleEmpresa/{{i.id}}" class="col col-25 ovalosMain" ng-repeat="i in contacts[2]">
                                          <div class="distancialabel">{{i.contacts}}</div>
                                          <div class="imageList" style="background:url({{i.foto1}}); background-size:cover; background-color: #cb461d"></div>
                                          <div class="marquee" align="center" style="min-height: 2em; color:white;">
                                                <small style="color:white;">{{i.nombre}}</small>
                                                <small style="color:white;">{{i.nombre}}</small>
                                          </div>
                                          <div align="center">
                                              <small>{{i.nombre_sector}}</small>
                                          </div>
                                      </a>                  
                                  </div>
                          </ion-slide>
                      </ion-slide-box>
                      
              </div>
          </li>
      </ul>
  </ion-content>
</ion-view>
