
<ion-view view-title="{{empresaname==undefined?'Registrar empresa':empresaname}}">
  <ion-content class="padding">      
      <div style="margin-top:5px">
          <form id="formreg" ng-submit="registrar()">
          <div class="l list">              
                <label class="item item-input item-stacked-label">
                    <span style="color: rgb(21, 98, 174); font-size: 13.9px;"class="input-label">Nombre </span>
                    <input type="text" name="nombre" ng-model="datos.nombre" placeholder="Nombre" maxlength="80" style="background:transparent">
                </label>  
                <label class="item item-input item-select">
                    <div class="input-label">
                        Sectores
                    </div>
                    <select name="sectores_id" ng-model="datos.sectores" ng-change="changeEspecialidad(datos.sectores)">
                        <option ng-selected="datos!=undefined && datos.sectores_id==s.id" value="{{s.id}}" ng-repeat="s in sectores">{{s.nombre_sector}}</option>                        
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Especialidad
                    </div>
                    <select name="especialidades[]" multiple="multiple">
                        <option ng-selected="datos!=undefined && inArray(s.id,datos.especialidades)" value="{{s.id}}" ng-repeat="s in especialidades">{{s.nombre_especialidad}}</option>                        
                    </select>
                </label>
                <label class="item item-input">
                    <textarea style="background:transparent" name="descripcion" ng-model="datos.descripcion" placeholder="Descripcion" rows="5">
                        {{empresa!=undefined?empresa.descripcion:''}}
                    </textarea>
                </label>
                <label class="item item-input item-stacked-label">
                    <span style="color: rgb(21, 98, 174); font-size: 13.9px;" class="input-label">Dirección </span>
                  <input type="text" name="direccion" ng-model="datos.direccion" placeholder="DIRECCION" value="{{empresa!=undefined?empresa.direccion:''}}"  style="background:transparent">
                </label>
                <label class="item item-input item-stacked-label">
                    <span style="color: rgb(21, 98, 174); font-size: 13.9px;" class="input-label">CP </span>
                  <input type="number" name="zip" ng-model="datos.zip" placeholder="CP" value="{{empresa!=undefined?empresa.zip:''}}" style="background:transparent">
                </label>
                <label class="item item-input item-stacked-label">
                    <span style="color: rgb(21, 98, 174); font-size: 13.9px;" class="input-label">Ciudad </span>
                  <input type="text" name="ciudad" ng-model="datos.ciudad" placeholder="CIUDAD" value="{{empresa!=undefined?empresa.ciudad:''}}" style="background:transparent">
                </label>
                <label class="item item-input item-stacked-label">
                    <span style="color: rgb(21, 98, 174); font-size: 13.9px;" class="input-label">Teléfono </span>
                  <input type="number" name="telefono" ng-model="datos.telefono" placeholder="TELEFONO" value="{{empresa!=undefined?empresa.telefono:''}}" style="background:transparent">
                </label>
                <label class="item item-input item-stacked-label">
                    <span style="color: rgb(21, 98, 174); font-size: 13.9px;" class="input-label">Email </span>
                  <input type="email" name="email" ng-model="datos.email" placeholder="EMAIL" value="{{empresa!=undefined?empresa.email:''}}" style="background:transparent">
                </label>
                <label class="item item-input item-stacked-label">
                    <span style="color: rgb(21, 98, 174); font-size: 13.9px;" class="input-label">Website </span>
                  <input type="text" name="website" ng-model="datos.website" placeholder="WEBSITE" value="{{empresa!=undefined?empresa.website:''}}" style="background:transparent">
                </label>              
                <label class="item item-input item-stacked-label">
                    <span style="color: rgb(21, 98, 174); font-size: 13.9px;" class="input-label">Facebook </span>
                  <input type="text" name="facebook" ng-model="datos.facebook" placeholder="FACEBOOK" value="{{empresa!=undefined?empresa.facebook:''}}" style="background:transparent">
                </label>              
                <label class="item item-input item-stacked-label">
                    <span style="color: rgb(21, 98, 174); font-size: 13.9px;"class="input-label">Twitter </span>
                  <input type="text" name="twitter" ng-model="datos.twitter" placeholder="TWITTER" value="{{empresa!=undefined?empresa.twitter:''}}" style="background:transparent">
                </label>              
                <label class="item item-input item-stacked-label">
                    <span style="color: rgb(21, 98, 174); font-size: 13.9px;" class="input-label">Linkedin </span>
                  <input type="text" name="linkdedin" ng-model="datos.linkdedin" placeholder="LINKEDIN" value="{{empresa!=undefined?empresa.linkdedin:''}}" style="background:transparent">
                </label>              
                <label class="item item-input item-stacked-label">
                    <span style="color: rgb(21, 98, 174); font-size: 13.9px;" class="input-label">Whatsapp </span>
                  <input type="text" name="whatsapp" ng-model="datos.whatsapp" placeholder="WHATSAPP" value="{{empresa!=undefined?empresa.whatsapp:''}}" style="background:transparent">
                </label>
                <label class="item item-input item-stacked-label">
                    <span style="color: rgb(21, 98, 174); font-size: 13.9px;" class="input-label">Nº Trabajadores </span>
                  <input type="text" name="trabajadores" ng-model="datos.trabajadores" placeholder="Nº Trabajadores" value="{{empresa!=undefined?empresa.trabajadores:''}}" style="background:transparent">
                </label>
                <label class="item item-input item-stacked-label">
                    <span style="color: rgb(21, 98, 174); font-size: 13.9px;" class="input-label">Año creación de la empresa </span>
                  <input type="number" name="antiguedad" ng-model="datos.antiguedad" placeholder="Año de creación de la empresa" value="{{empresa!=undefined?empresa.antiguedad:''}}" style="background:transparent">
                  <input type="hidden" name="ubicacion_geo" ng-model="datos.ubicacion_geo" style="background:transparent" value="{{datos.ubicacion_geo}}">
                </label>
                <ul class="list">
                    <li class="l item" style="background:#335060">
                        <div class="titleBoxHome">FOTOS</div>
                        <div class="row">
                            <div class="col">
                                <label ng-click="triggerFile('foto1');">
                                    <div class="imageList" id="foto1img" style="background:url({{datos!=undefined?datos.foto1preview:''}}); background-size:100%;"></div>                                                                        
                                </label>
                                <input type="file" name="foto1" id="foto1" style="display:none">
                            </div>
                            <div class="col">
                                <label ng-click="triggerFile('foto2');">
                                    <div class="imageList" id="foto2img" style="background:url({{datos!=undefined?datos.foto2preview:''}}); background-size:100%;"></div>                                    
                                </label>
                                <input type="file" name="foto2" id="foto2" style="display:none">
                            </div>
                            <div class="col">
                                <label ng-click="triggerFile('foto3');"">
                                    <div class="imageList" id="foto3img" style="background:url({{datos!=undefined?datos.foto3preview:''}}); background-size:100%;"></div>                                    
                                </label>
                                <input type="file" name="foto3" id="foto3" style="display:none">
                            </div>
                            <div class="col">
                                <label ng-click="triggerFile('foto4');">
                                    <div class="imageList" id="foto4img" style="background:url({{datos!=undefined?datos.foto4preview:''}}); background-size:100%;"></div>                                    
                                </label>
                                <input type="file" name="foto4" id="foto4" style="display:none">
                            </div>
                        </div>
                    </li>
                </ul>
                <label class="item item-input">                    
                    <app-map-reg center="datos.ubicacion" zoom="15" location="location" direccion="datos.direccion+' '+datos.ciudad"></app-map-reg>
                </label>
                <input type="hidden" name="usuarios_id" ng-model="user" value="{{user}}">                
                <button type="submit" class="button button-balanced button-full">Registrar datos</button>
                <button ng-show="datos.id!=undefined" style="margin-top:30px" type="button" ng-click="delete()" class="button button-balanced button-full">Eliminar empresa</button>
          </div>
         </form>
      </div>
  </ion-content>
</ion-view>
