<ion-view view-title="Mis empresas">
  <ion-content class="padding">      
      <a href="#tab/miempresa" class="button button-balanced button-full">
         CREAR EMPRESAS
      </a>
      <div style="margin-top:15px">          
          <div class="list">                
                <div class="list" style="color:white;">
                    <div class="item item-avatar" ng-click="consultar(e.id)" ng-repeat="e in empresas" style="color:white;">
                      <img ng-src="{{e.foto1}}" style="width: 40px; height: 40px; border-radius:100%; background:transparent; vertical-align: top;">
                      <h2 style="color:white;">{{e.nombre}}</h2>
                      <p style="color:white;"><span style="font-size:10px; color:lightblue">{{e.s986e880e}}</span></h2>
                      
                    </div>
                </div>             
          </div>
      </div>
  </ion-content>
</ion-view>
