<ion-view view-title="Dashboard">
  <ion-content class="padding">
      <div align="center" style="margin-top:40px">
            <img src="img/logo.png" style="width:70%">
      </div>
      <div style="margin-top:30px">
          <form ng-submit="recuperar(data)">
          <div class="list">
                <label class="item item-input">
                  <i class="icon ion-key placeholder-icon"></i>
                  <input type="email" ng-model="data.email" placeholder="Email">
                </label>
                <button type="submit" class="button button-balanced button-full">Recuperar Password</button>
                <a href="#/tab/dash" class="button button-balanced button-full">Volver</a>
          </div>
         </form>
      </div>
  </ion-content>
</ion-view>
