<ion-view view-title="Datos de usuario">
  <ion-content class="padding">
      <div align="center" style="margin-top:40px">
            <img src="img/logo.png" style="width:75%">            
      </div>      
      <div style="margin-top:30px">
          <p ng-show="action=='insertar'" style="text-align:center; font-size:15px; margin-top:12.3px; color:white;">Registra tu negocio y empieza a trabajar</p>
          <form ng-submit="registrar(data)">
          <div class="l list">
                <label class="item item-input">
                  <i class="icon ion-edit placeholder-icon"></i>
                  <input type="text" ng-model="data.nombre" placeholder="Nombre">
                </label>
                <label class="item item-input">
                  <i class="icon ion-person placeholder-icon"></i>
                  <input type="email" ng-model="data.email" placeholder="Email">
                </label>
                <label class="item item-input">
                  <i class="icon ion-key placeholder-icon"></i>
                  <input type="password" ng-model="data.password" placeholder="Contraseña">
                </label>
                <label class="item item-input">
                  <i class="icon ion-ios-telephone placeholder-icon"></i>
                  <input type="text" ng-model="data.telefono" placeholder="Telefono">
                </label>
                <div class="item item-checkbox" ng-click="mostrarCondiciones()" ng-show="action=='insertar'" style="font-size:12px;">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="data.politicas">
                    </label>
                    <u>Leer</u> y aceptar las condiciones de uso
                </div>                
                <button type="submit" ng-show="action=='insertar'" class="button button-balanced button-full">Registrar</button>
                <button type="submit" ng-show="action!='insertar'" class="button button-balanced button-full">Actualizar datos</button>
          </div>
         </form>
      </div>
  </ion-content>
</ion-view>
