<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Inicio" icon="ion-home" href="#/tab/main">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Buscar" icon="ion-search" ng-click="goSearch()">
    <ion-nav-view name="tab-empresas"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Gestor de tierras" icon="ion-soup-can" href="#/tab/gestor">
    <ion-nav-view name="tab-gestor"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Cuenta" icon="ion-gear-a" ng-click="cuenta()">
    <ion-nav-view name="tab-cuenta"></ion-nav-view>    
  </ion-tab>
  
  <!-- Share -->
  <ion-tab title="Compartir app" icon="icon ion-share" ng-click="shareApp()"></ion-tab>
</ion-tabs>