.pane, .view {
    background: url(../img/fondo.png);    
    background-size:100%;
}

a{
    color:#1b5e8f;
    text-decoration:none;
}

a:hover{
    color:#1b5e8f;    
    text-decoration:none;
}

.button.button-balanced,.bar.bar-balanced, .bar-balanced .button {
    background: url(../img/franja.png) !important;
    background-repeat: no-repeat;
    border:0px;    
    color: #fff;
}

.imageList{
    border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    -o-border-radius:100%;
    -ms-border-radius:100%;
    border:2px solid #fc4d09;
    height:70px;
    width:70px;
    display:inline-block;
}

.list{
    margin-bottom: 0px;
}

.col{
    text-align:center;
}

.item {
    background-color: #11384e;
    border-color: rgb(16, 75, 108);
    border-style: solid;
    border-width: 1px;
    color: white;    
}

.l.item{
    padding: 11.9px 0px 6px 0px;
    border-radius: 4px;    
}

small{
    font-size:11px;
    line-height: normal;
}

.titleBoxHome{
    font-size:14px;  
    margin-left:16px;
}

.item textarea,.item input[type="text"],.item input[type="password"],.item input[type="datetime"],.item input[type="datetime-local"],.item input[type="date"],.item input[type="month"],.item input[type="time"],.item input[type="week"],.item input[type="number"],.item input[type="email"],.item input[type="url"],.item input[type="search"],.item input[type="tel"],.item input[type="color"] {
    color: white;    
}

.ranking{
    margin:0px 0;
    padding:0px;
}

.ranking li{
    padding:0px;
    margin:0px;
    list-style:none;
    display:inline-block;
}

.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
    white-space: inherit;
}

.input-label{
    color:white;
}

.gestor{
    background: url(../img/naranja-fondo.png);
}

.item{
    background:#103858;
    border-bottom: 0.5px solid #022A41;
    margin:0.1px;
}

.ovalosMain{
    color:#5f87a4;
}
.distancialabel{
    background:#cb461d;
    color:white;
    padding-left: 4px;
	padding-right: 4px;
    border-radius:2px;
    margin-bottom:5px;
    min-width:41px;
    display:inline-block;
    font-size:11px;
    margin-bottom:8.2px;
}

.button {
    background: #f8f8f8;    
}

.padding {
    background: url(../img/fondo.png);
    background-size:100%;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #103858;
    border-top: 1px solid #df2800;
}

.marquee {
    width: 100%;        
    overflow: hidden;
    white-space: nowrap;
    position:relative;
}

.marquee small {
    position:absolute;        
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    color: #fff;
    text-shadow: 1px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
    white-space:nowrap;
}

.marquee small:first-child {    
    left:0;
    animation: left-one 10s ease infinite;
}

.marquee small:last-child {
    left:240%;
    animation: left-two 10s ease infinite;
}

@keyframes left-one {
    0%  {
       left:0;
    }   
    100%  {
       left:-240%;
    }
}

@keyframes left-two {
    0%  {
        left:240%;
    }   
    100%  {
        left:0;
    }
}

.marquee small {
    //animation: left-one 5s ease infinite;
}

.mainContent{
    margin-right: 10px;
    margin-left: 10px;
}
.flechar{
    background: #022a41 none repeat scroll 0 0;
    height: 100%;
    padding-left: 2px;
    padding-top: 30%;
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
}

.flechal{
    background: #022a41 none repeat scroll 0 0;
    height: 100%;
    padding-left: 2px;
    padding-top: 30%;
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
}

.slider-pager {
    top: 230px;
}

.mainContent .slider-pager {
    top: 157px;
}